<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Add library</title>
</head>
<body>
<h1 style="color:red"><B>Enter library data</B></h1><hr>
<form action="/library/saveLibrary" method="post">
    Name: <input type="text" name="name"><span text="library.name"></span>
    Address: <input type="text" name="location"><span text="library.location"></span>
    Founding year: <input type="text" name="foundingYear"><span text="library.foundingYear"></span>
    <input type="submit">
</form>
</body>
</html>