<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book library</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h4><B>Enter book data</B></h4><hr>
<form action="/save" method="post">
    Title: <input type="text" name="title"><br><br><hr>
    Author: <input type="text" name="author"><br><br><hr>
    Year: <input type="number" name="year"><br><br><hr>
    Status: <input type="text" name="status"><br><br><hr>
    <input type="submit">
</form>
<a style="color:gold" href="/addLibrary.html">Maybe you want to create a new library, Click here</a>
</body>
</html>